* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 10;
    background-size: contain;
    background-image: url(/images/pei-yu-SsILMBrUJ3Y-unsplash.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;
    background-color: rgb(1,113,187);
}
.logo {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
    transition: .5s ease;
    }
.logo:hover {
    color: #2b78a1;
}
.navbar a {
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    width: 0;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
    opacity: 0;
}
.navbar a:hover::before {
    width: 100%;
    opacity: 1;
}
.search-bar {
    width: 300px;
    height: 35px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #e4e4e4;
    padding: 10px;
}
.search-bar input::placeholder {
    color: #e4e4e4;
}
.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
}
.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
}
.home {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    background-image: url(./images/pei-yu-SsILMBrUJ3Y-unsplash.jpg);
    background-size: cover;
    background-image: no-repeat;
    margin-top: 5px;
}
.mainphoto {
    display: none;
}
.content {
    max-width: 575px;
    color: black;
    font-weight: 600;
    line-height: 1.5;
    padding: 10px;
    margin-left: 12%;   
}
.content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 40px;
}
.content p {
    margin: 0 0 40px;
}
.content a {
    color: #fff;
    background-color: rgb(1,113,187);
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 700;
    border-radius: 40px;
    padding: 10px 40px;
    position: relative;
}
.content a:hover {
    background: transparent;
    transition: 0.5s;
}
.wrapper-login {
    color: black;
    background-color: rgba(210, 210, 215, 0.75);
    border: none;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    font-size: 1rem;
    margin: 40px;
    font-weight: 500;
    position: relative;
    
}
.wrapper-login input {
    background-color: transparent;
    background: transparent;
    align-content: space-between;
    border: none;
    outline: none;
    color: black;
    font-weight: 500;
}
.input-box i {    
    padding-right: 8px;
}
.input-box {
    background-color: transparent;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 45px;
    font-weight: 700;
    margin: 10px;
    justify-content: space-between;
    align-content: baseline;
    }

.input-box ::placeholder {
    color: black;
    font-weight: 500;
    font-size: 1rem;
}
.btn {
    background-color: rgb(1,113,187);
    outline: none;
    border: #fff solid;
    padding: 10px 20px;
    border-radius: 45px;
    font-weight: 700;
    color: #fff;
    align-content: center;
    display: flex;
    cursor: pointer;
}
.btn:hover {
    background-color: transparent;
    transition: background-color 0.3s ease;
}
.register-link {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}
.register-link a {
    text-decoration: none;
    font-size: 0.80rem;
    font-weight: 700;
    padding: 2px;
    margin-right: 45px;
}
.register-link p {
    text-decoration: none;
    font-size: 0.80rem;
    font-weight: 700;
    padding: 2px;
}
.remember-forgot {
    justify-content: space-between;
    display: flex;
    margin: 2px;
}
.remember-forgot a {
    text-decoration: none;
    font-size: 0.80rem;
    padding: 2px;
    font-weight: 700;
}
.remember-forgot label {
    text-decoration: none;
    font-size: .80rem;
    font-weight: 700;
    padding: 2px;
    display: flex;
}
.remember-forgot checkbox {
    border-radius: 6px;
    padding: 10px;
    margin: 2px;
}
.top-destinations {
    background-color: white;
    align-content: space-between;
    justify-content: center;
    margin-top: 60PX;
    }
.suggestions {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 15%;
    margin-right: 15%;
    width: 75%;
}
.suggestions p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    margin: 10px;
}
.suggestions h1 {
    font-size: 1.5rem;
    color: black;
    margin-top: 60px;
}
.suggestions h3 {
    font-size: 1rem;
    color: black;
}
.options {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 10px;
    line-height: 1.5;
    width: 100%;
    gap: 2;
}
.option1,
.option2,
.option3 {
    
    align-content: space-between;
    background-color: rgba(178, 178, 183, 0.25);
    margin: 40px;
    border-radius: 10px;
    padding: 10px;
}
.option1 img, 
.option2 img, 
.option3 img{
    max-width: 100%;
    max-height: 75vh;
    align-items: baseline;
}
.highlight{
background-color: #fff;
}
.discover{
    border: 2px solid;
    background-color:rgba(1,113,187, 0.85);
}
.discover img{
    background-image: no-repeat;
    width: 50%;
    
}
/*Discover you next adventure*/






/* Global styles that apply to all screen sizes */

/* Extra Small Devices (Phones) */
@media (max-width: 575px) {
    /* CSS rules for extra small screens */
    /* Custom styles for phones */
}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767px) {
    /* CSS rules for small screens */
    /* Custom styles for tablets */
}

/* Medium Devices (Laptops) */
@media (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for medium screens */
    /* Custom styles for laptops */
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    /* CSS rules for large screens */
    /* Custom styles for large desktops */
}