* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('/images/pei-yu-SsILMBrUJ3Y-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }
    

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    }

.logo {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
    transition: .5s ease;
}

.logo:hover {
    color: #2b78a1;
}

.navbar a {
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    width: 0;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
    opacity: 0;
}

.navbar a:hover::before {
    width: 100%;
    opacity: 1;
}

.search-bar {
    width: 300px;
    height: 35px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #e4e4e4;
    padding: 10px;
}

.search-bar input::placeholder {
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
}
.home {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items:start;
    justify-content: space-between;
    background-attachment: fixed;
    background-position: center top;
   margin-top: 100px;
    
}

.content {
    max-width: 500px;
    margin-left: 140px;
    color: black;
    font-weight: 600;
    margin-left: 160px;
    margin-top: 40;
    margin-bottom: 100px
    inline: height 1.5em;
}

.content h2 {
    font-size: 2rem;
}

.content p {
    margin: 10px 0 40px;
}

.content a {
    color: #fff;
    background-color: #2b78a1;
    text-decoration: none;
    border: 2px solid #fff;
    font-weight: 700;
    border-radius: 40px;
    padding: 10px 40px;
    position: relative;
}

.content a:hover {
    background: transparent;
    transition: 0.5s;
}

.wrapper-login {

    color: black;
    background-color: rgba(178, 178, 183, 0.85);
    border: none;
    padding: 35px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    margin-right: 100px;
    font-weight: 500;
    position: relative;
    margin-top: 0px;
}

.wrapper-login input {
    background-color: transparent;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-weight: 500;
}

.input-box i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8px;

}

.input-box {
    background-color: transparent;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 45px;
    font-weight: 700;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.input-box ::placeholder {
    color: black;
    font-weight: 500;
    font-size: 1rem;
}

.btn {
    background-color: #2b78a1;
    outline: none;
    border: #fff solid;
    padding: 10px 20px;
    border-radius: 45px;
    font-weight: 700;
    color: #fff;
    align-content: center;
    display: flex;
    cursor: pointer;

}

.btn:hover {
    background-color: transparent;
    transition: background-color 0.3s ease;

}

.register-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
}

.register-link a {
    text-decoration: none;
    font-size: 0.80rem;
    font-weight: 700;
    padding: 2px;
    margin-right: 45px;
}

.register-link p {
    text-decoration: none;
    font-size: 0.80rem;
    font-weight: 700;
    padding: 2px;
}

.remember-forgot {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 2px;
}

.remember-forgot a {
    text-decoration: none;
    font-size: 0.80rem;
    padding: 2px;
    font-weight: 700;
}

.remember-forgot label {
    text-decoration: none;
    font-size: .80rem;
    font-weight: 700;
    padding: 2px;
    display: flex;
}

.remember-forgot checkbox {
    border-radius: 6px;
    padding: 10px;
    margin: 2px;
}

.top-destinations{
    display: flex;
    flex-direction: column;
    background-color: white;
    background-position: center;
    background-size: cover;
    align-content: space-between;
    align-items: center;
    margin: 0;

}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fff;
    background-size: cover;
    align-content: center;
    align-content: space-between;
    margin: 15%;
}

/* Global styles that apply to all screen sizes */

/* Extra Small Devices (Phones) */
@media (max-width: 575px) {
    /* CSS rules for extra small screens */
    /* Custom styles for phones */
}

/* Small Devices (Tablets) */
@media (min-width: 576px) and (max-width: 767px) {
    /* CSS rules for small screens */
    /* Custom styles for tablets */
}

/* Medium Devices (Laptops) */
@media (min-width: 768px) and (max-width: 991px) {
    /* CSS rules for medium screens */
    /* Custom styles for laptops */
}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    /* CSS rules for large screens */
    /* Custom styles for large desktops */
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1200px) {
    /* CSS rules for extra large screens */
    /* Custom styles for extra large desktops */
}