* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
        
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
}

.logo {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    -webkit-text-stroke: .5px;
    -webkit-text-stroke-color: black;
}

.navbar a {
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    width: 0;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
    opacity: 0;
}

.navbar a:hover::before {
    width: 100%;
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 35px;
    background: transparent;
    border: 2px solid #e4e4e4;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #e4e4e4;
    padding: 10px;
}

.search-bar input::placeholder {
    color: #e4e4e4;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-bar button i {
    font-size: 22px;
    color: #e4e4e4;
}

.home{
    position: relative;
    width:100%;
    height:100vh;
    background: url(/images/pei-yu-SsILMBrUJ3Y-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
 }

.home .content{
    max-width: 500px;
    margin-left: 140px;
    color: #1e277a;
    font-weight: 600;
    margin-left: 200px;
}

.content h2{
    font: 4em;
   }

    .content p{
        margin: 10px 0 40px;
        
    }

    .content a {
        color: #e4e4e4;
        text-decoration: none;
        border: 2px solid #e4e4e4;
        font-weight: 700;
        border-radius: 40px;
        padding: 10px 40px;
        position: relative;
    }

    .content a:hover{
        background: #2b78a1;
        transition:0.5s;
    }

    .wrapper-login{
        color: black;
        background-color: rgba(178, 178, 183, 0.75);
        background-size: cover;
        border: none;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        margin-right: 100px;
        }

    .input-box i{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .input-box{
        width: 100%;
        background-color: transparent;
        border:2px solid #fff;
        outline: none;
        font-size: 1rem;
        color: black;
        padding: 10px;
        border-radius: 10px;
        font-weight: 700;
        margin: 4px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        align-content: center;
    }
    
    .member-login input::placeholder {
        color: black;
       
    }        
    
    .btn {
        background-color: #2b78a1;
        outline:none;
        border:#fff solid;
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: 700;
        color: #fff;
        align-content: center;
        display: flex;
        cursor: pointer;
          
    }

    .btn:hover{
        background-color: transparent;
        transition: background-color 0.3s ease;  
        
    }

    .register-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2px;
    }
 
    .register-link a { 
        text-decoration: none;
        font-size: 0.85rem;
        font-weight: 700;
        padding: 2px;
        margin-right: 45px;
    }

    .register-link p { 
        text-decoration: none;
        font-size: 0.85rem;
        font-weight: 700;
        padding: 2px;
      }

    .remember-forgot{
        align-items: center;
        justify-content: space-between;
        display: flex;
        margin: 2px;
      }

    .remember-forgot a{
        text-decoration: none;
        font-size: 0.85rem;
        padding: 2px;
        font-weight: 700;
    }

    .remember-forgot label{
        text-decoration: none;
        font-size: .85rem;
        font-weight: 700;
        padding: 2px;
        display: flex;
    }

    .remember-forgot checkbox{
        border-radius: 6px;
        padding:10px;
        margin: 2px;
    }

    
        
    